.box {
    display: flex;
    flex-direction: row;
    gap: 20px
}

.titleText {
    position: relative;
}

.degrees {
    position: absolute;
    top: -2px;
    font-size: 20px;
}

.detailsText {
    margin-left: 5px;
}

.detailsTable {
    width: 80%
}